<div data-visibility-target="sidebarContainer" data-expanded="1" class="min-h-screen px-4 py-8 border-r bg-gray-800 border-gray-600 fixed">

    <h2 class="text-3xl font-semibold text-white">Master<span class="text-[#e0ae00]">Táxi</span></h2>

    <div class="relative mt-6">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg class="w-5 h-5 text-white" viewBox="0 0 24 24" fill="none">
                <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </span>
    </div>
    
    <div class="flex flex-col justify-between flex-1 mt-6">
        <nav>
            <a class="flex items-center px-4 py-2 text-gray-800 bg-gray-100 rounded-md dark:bg-gray-700 dark:text-gray-200" href="/">
                <svg class="w-5 h-5" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 121.74"><title>categories</title><path d="M5,0H49.39a5,5,0,0,1,3.53,1.47A5,5,0,0,1,54.4,5V49.19a5,5,0,0,1-5,5H5a5,5,0,0,1-3.55-1.47l-.09-.11A5,5,0,0,1,0,49.19V5A5,5,0,0,1,5,0ZM73.49,67.53h44.37a5.05,5.05,0,0,1,5,5v44.17a5,5,0,0,1-5,5H73.49A5,5,0,0,1,70,120.27l-.09-.11a4.94,4.94,0,0,1-1.38-3.44V72.55A5,5,0,0,1,70,69l.1-.1a5,5,0,0,1,3.44-1.38ZM5,67.53H49.39A5,5,0,0,1,52.92,69a4.94,4.94,0,0,1,1.48,3.54v44.17a5,5,0,0,1-5,5H5a5,5,0,0,1-3.55-1.47l-.09-.11A5,5,0,0,1,0,116.72V72.55a5,5,0,0,1,5-5ZM73.49,0h44.37a5,5,0,0,1,5,5V49.19a5,5,0,0,1-5,5H73.49a5,5,0,0,1-5-5V5A5,5,0,0,1,70,1.47l.1-.09A5,5,0,0,1,73.49,0Z"/></svg>                

                <span class="mx-4 font-medium">Dashboard</span>
            </a>

            <a class="flex items-center px-4 py-2 mt-5 text-gray-300 transition-colors duration-200 transform rounded-md dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700" href="/cooperados">
                <svg class="w-5 h-5" viewBox="0 0 36 27" xmlns="http://www.w3.org/2000/svg">
                    <path id="Path_1" data-name="Path 1" d="M141.314,136.63l1.055-.085a.568.568,0,0,0,.52-.61l-.129-1.58a.565.565,0,0,0-.609-.519l-2.354,0-2.549-5.724a2.074,2.074,0,0,0-2.032-1.116h-15a2.084,2.084,0,0,0-2.036,1.116l-2.546,5.724-2.354,0a.568.568,0,0,0-.61.519l-.127,1.58a.567.567,0,0,0,.519.61l1.055.085a10.131,10.131,0,0,0-1.833,5.852l.238,3.025a1.649,1.649,0,0,0,.9,1.355v1.6c.1,2.185.788,2.185,2.319,2.185s2.32,0,2.423-2.185v-1.417l9.551,0,9.468,0v1.415c.1,2.185.787,2.185,2.319,2.185s2.32,0,2.422-2.185v-1.6a1.734,1.734,0,0,0,.978-1.355l.242-3.025A10.131,10.131,0,0,0,141.314,136.63ZM122.257,143.5a.568.568,0,0,1-.566.567h-5.577a.567.567,0,0,1-.568-.567v-2.04a.565.565,0,0,1,.568-.567l5.577.453a.568.568,0,0,1,.566.566Zm-4.9-7.98,2.742-6.307h15.232l2.741,6.307H117.359Zm22.53,7.98a.567.567,0,0,1-.567.567h-5.577a.568.568,0,0,1-.567-.567v-1.588a.569.569,0,0,1,.567-.566l5.577-.453a.565.565,0,0,1,.567.567Z"  fill="currentColor" transform="translate(-112.289 -126.994)"/>
                </svg>
                <span class="mx-4 font-medium">Cooperados</span>
            </a>

            <a class="flex items-center px-4 py-2 mt-5 text-gray-300 transition-colors duration-200 transform rounded-md dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700" href="/clientes">
                <svg class="w-5 h-5" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 35"><title>carousel-slider</title><path d="M11.558,10.767c0-3.473,2.815-6.29,6.289-6.29c3.476,0,6.289,2.817,6.289,6.29c0,3.475-2.813,6.29-6.289,6.29
                C14.373,17.057,11.558,14.243,11.558,10.767z M35.667,22.607l-0.879-5.27c-0.158-0.954-0.961-1.754-1.896-1.984
                c-0.836,0.74-1.932,1.191-3.136,1.191c-1.203,0-2.3-0.452-3.135-1.191c-0.938,0.229-1.739,1.03-1.897,1.984l-0.021,0.124
                c-0.522-0.503-1.17-0.881-1.868-1.052c-1.33,1.176-3.072,1.896-4.987,1.896s-3.657-0.72-4.987-1.896
                c-0.698,0.171-1.346,0.549-1.868,1.052l-0.021-0.124c-0.158-0.954-0.962-1.754-1.897-1.984c-0.835,0.74-1.932,1.191-3.135,1.191
                c-1.204,0-2.3-0.452-3.136-1.191c-0.936,0.229-1.738,1.03-1.896,1.984l-0.879,5.27c-0.189,1.131,0.596,2.057,1.741,2.057h7.222
                l-0.548,3.283c-0.3,1.799,0.948,3.271,2.771,3.271H24.48c1.823,0,3.071-1.475,2.771-3.271l-0.548-3.283h7.222
                C35.071,24.662,35.855,23.738,35.667,22.607z M29.755,15.762c2.184,0,3.954-1.77,3.954-3.954c0-2.183-1.771-3.954-3.954-3.954
                s-3.953,1.771-3.953,3.954C25.802,13.992,27.574,15.762,29.755,15.762z M5.938,15.762c2.183,0,3.953-1.77,3.953-3.954
                c0-2.183-1.771-3.954-3.953-3.954c-2.184,0-3.954,1.771-3.954,3.954C1.984,13.992,3.755,15.762,5.938,15.762z" fill="currentColor" /></svg>
                <span class="mx-4 font-medium">Clientes</span>
            </a>

            <a class="flex items-center px-4 py-2 mt-5 text-gray-300 transition-colors duration-200 transform rounded-md dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700" href="/tabelas">
                <svg class="w-5 h-5" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 35"><path d="M11.558,10.767c0-3.473,2.815-6.29,6.289-6.29c3.476,0,6.289,2.817,6.289,6.29c0,3.475-2.813,6.29-6.289,6.29
                C14.373,17.057,11.558,14.243,11.558,10.767z M35.667,22.607l-0.879-5.27c-0.158-0.954-0.961-1.754-1.896-1.984
                c-0.836,0.74-1.932,1.191-3.136,1.191c-1.203,0-2.3-0.452-3.135-1.191c-0.938,0.229-1.739,1.03-1.897,1.984l-0.021,0.124
                c-0.522-0.503-1.17-0.881-1.868-1.052c-1.33,1.176-3.072,1.896-4.987,1.896s-3.657-0.72-4.987-1.896
                c-0.698,0.171-1.346,0.549-1.868,1.052l-0.021-0.124c-0.158-0.954-0.962-1.754-1.897-1.984c-0.835,0.74-1.932,1.191-3.135,1.191
                c-1.204,0-2.3-0.452-3.136-1.191c-0.936,0.229-1.738,1.03-1.896,1.984l-0.879,5.27c-0.189,1.131,0.596,2.057,1.741,2.057h7.222
                l-0.548,3.283c-0.3,1.799,0.948,3.271,2.771,3.271H24.48c1.823,0,3.071-1.475,2.771-3.271l-0.548-3.283h7.222
                C35.071,24.662,35.855,23.738,35.667,22.607z M29.755,15.762c2.184,0,3.954-1.77,3.954-3.954c0-2.183-1.771-3.954-3.954-3.954
                s-3.953,1.771-3.953,3.954C25.802,13.992,27.574,15.762,29.755,15.762z M5.938,15.762c2.183,0,3.953-1.77,3.953-3.954
                c0-2.183-1.771-3.954-3.953-3.954c-2.184,0-3.954,1.771-3.954,3.954C1.984,13.992,3.755,15.762,5.938,15.762z" fill="currentColor" /></svg>
                <span class="mx-4 font-medium">Tabela de Preços</span>
            </a>            

            <a class="flex items-center px-4 py-2 mt-5 text-gray-300 transition-colors duration-200 transform rounded-md dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700" href="/blogs">
                <svg class="w-5 h-5" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 112.04">
                <defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>writing</title>
                <path d="M109.28,19.61l12.21,9.88a3.77,3.77,0,0,1,.56,5.29l-5.46,6.75L98.53,26.93,104,20.17a3.79,3.79,0,0,1,5.29-.56ZM21.07,30.81a3.18,3.18,0,0,1,0-6.36H74.12a3.18,3.18,0,0,1,0,6.36ZM9.49,0H85.71A9.53,9.53,0,0,1,95.2,9.49v5.63l-4.48,5.53a9.81,9.81,0,0,0-1.18,1.85c-.24.19-.48.4-.71.62V9.49a3.14,3.14,0,0,0-3.12-3.13H9.49A3.14,3.14,0,0,0,6.36,9.49v93.06a3.16,3.16,0,0,0,.92,2.21,3.11,3.11,0,0,0,2.21.92H85.71a3.12,3.12,0,0,0,3.12-3.13V88.2l1.91-.81a10,10,0,0,0,4.34-3.13l.12-.14v18.43A9.54,9.54,0,0,1,85.71,112H9.49A9.51,9.51,0,0,1,0,102.55V9.49A9.53,9.53,0,0,1,9.49,0ZM21.07,87.6a3.19,3.19,0,0,1,0-6.37H56.19a37.1,37.1,0,0,0-.3,6.37Zm0-18.93a3.19,3.19,0,0,1,0-6.37H59.22l0,.27-1.05,6.1Zm0-18.93a3.18,3.18,0,0,1,0-6.36H72.44l-5.11,6.36ZM87.25,78,74.43,83.47c-9.35,3.47-8.93,5.43-8-3.85L69.24,63.4h0l0,0,26.56-33,18,14.6L87.27,78ZM72.31,65.89l11.86,9.59-8.42,3.6c-6.6,2.83-6.42,4.23-5.27-2.53l1.83-10.66Z" fill="currentColor"/>
                </svg>                

                <span class="mx-4 font-medium">Corridas</span>
            </a>            

            <a class="flex items-center px-4 py-2 mt-5 text-gray-300 transition-colors duration-200 transform rounded-md dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700" href="/blogs">
            <svg class="w-5 h-5" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128.657 128.657">
            <path d="M107.59,0H21.068c-1.926,0-3.521,1.568-3.521,3.521v121.616c0,1.924,1.567,3.521,3.521,3.521h86.521
			c1.926,0,3.521-1.568,3.521-3.521V3.52C111.11,1.596,109.543,0,107.59,0z M39.331,116.061c-4.979,0-9.021-4.043-9.021-9.021
			s4.043-9.021,9.021-9.021c4.978,0,9.021,4.043,9.021,9.021C48.35,112.018,44.307,116.061,39.331,116.061z M39.331,91.418
			c-4.979,0-9.021-4.043-9.021-9.021s4.043-9.021,9.021-9.021c4.978,0,9.021,4.043,9.021,9.021
			C48.35,87.375,44.307,91.418,39.331,91.418z M39.331,68.618c-4.979,0-9.021-4.042-9.021-9.021c0-4.978,4.043-9.021,9.021-9.021
			c4.978,0,9.021,4.043,9.021,9.021C48.35,64.576,44.307,68.618,39.331,68.618z M64.439,73.376c4.978,0,9.021,4.043,9.021,9.021
			c0,4.979-4.043,9.021-9.021,9.021c-4.979,0-9.021-4.043-9.021-9.021C55.418,77.419,59.489,73.376,64.439,73.376z M55.446,59.598
			c0-4.978,4.043-9.021,9.021-9.021c4.979,0,8.993,4.07,8.993,9.021c0,4.951-4.043,9.021-9.021,9.021
			C59.489,68.618,55.446,64.576,55.446,59.598z M64.466,116.061c-4.978,0-9.021-4.043-9.021-9.021s4.043-9.021,9.021-9.021
			c4.978,0,9.021,4.043,9.021,9.021S69.417,116.061,64.466,116.061z M89.577,116.061c-4.979,0-9.021-4.043-9.021-9.021
			s4.043-9.021,9.021-9.021c4.978,0,9.021,4.043,9.021,9.021C98.596,112.018,94.553,116.061,89.577,116.061z M89.577,91.418
			c-4.979,0-9.021-4.07-9.021-9.021c0-4.95,4.043-9.021,9.021-9.021c4.978,0,9.021,4.043,9.021,9.021
			C98.596,87.375,94.553,91.418,89.577,91.418z M89.577,68.618c-4.979,0-9.021-4.042-9.021-9.021c0-4.978,4.043-9.021,9.021-9.021
			c4.978,0,9.021,4.043,9.021,9.021C98.596,64.576,94.553,68.618,89.577,68.618z M99.422,40.951c0,1.926-1.566,3.521-3.521,3.521
			H32.756c-1.926,0-3.521-1.567-3.521-3.521V15.236c0-1.925,1.567-3.52,3.521-3.52h63.145c1.926,0,3.521,1.567,3.521,3.52V40.951z" fill="currentColor"
			/>
		    <path d="M84.735,17.85c-5.225,0-8.744,4.455-8.744,10.148v0.055c0,5.693,3.438,10.094,8.689,10.094s8.746-4.456,8.746-10.148
			v-0.056C93.426,22.25,89.933,17.85,84.735,17.85z M89,28.053c0,3.575-1.65,6.188-4.265,6.188c-2.611,0-4.316-2.668-4.316-6.243
			v-0.056c0-3.603,1.678-6.188,4.263-6.188S89,24.449,89,27.997V28.053L89,28.053z" fill="currentColor" />
                </svg>                

                <span class="mx-4 font-medium">Financeiro</span>
            </a>  

            <hr class="my-6 border-gray-200 dark:border-gray-600" />

            <a class="flex items-center px-4 py-2 mt-5 text-gray-300 transition-colors duration-200 transform rounded-md dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700" href="/empresas">
                <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.3246 4.31731C10.751 2.5609 13.249 2.5609 13.6754 4.31731C13.9508 5.45193 15.2507 5.99038 16.2478 5.38285C17.7913 4.44239 19.5576 6.2087 18.6172 7.75218C18.0096 8.74925 18.5481 10.0492 19.6827 10.3246C21.4391 10.751 21.4391 13.249 19.6827 13.6754C18.5481 13.9508 18.0096 15.2507 18.6172 16.2478C19.5576 17.7913 17.7913 19.5576 16.2478 18.6172C15.2507 18.0096 13.9508 18.5481 13.6754 19.6827C13.249 21.4391 10.751 21.4391 10.3246 19.6827C10.0492 18.5481 8.74926 18.0096 7.75219 18.6172C6.2087 19.5576 4.44239 17.7913 5.38285 16.2478C5.99038 15.2507 5.45193 13.9508 4.31731 13.6754C2.5609 13.249 2.5609 10.751 4.31731 10.3246C5.45193 10.0492 5.99037 8.74926 5.38285 7.75218C4.44239 6.2087 6.2087 4.44239 7.75219 5.38285C8.74926 5.99037 10.0492 5.45193 10.3246 4.31731Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                <span class="mx-4 font-medium">Configurações</span>
            </a>

            <%= button_to logout_path, method: :delete,  class: "flex items-center px-4 py-2 mt-5 text-gray-300 transition-colors duration-200 transform rounded-md dark:text-gray-400 hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-gray-200 hover:text-gray-700" do  %>
                <svg class="w-5 h-5" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="494.239px" height="494.238px" viewBox="0 0 494.239 494.238" style="enable-background:new 0 0 494.239 494.238;"
                    xml:space="preserve">
                    <g>
                        <path d="M199.725,0v36.025H85.211v421.66l114.514,0.094v36.459l209.085-37.555l0.216-418.867L199.725,0z M234.404,230.574
                            c7.022,0,12.715,7.408,12.715,16.545c0,9.139-5.692,16.545-12.715,16.545s-12.715-7.406-12.715-16.545
                            C221.688,237.982,227.382,230.574,234.404,230.574z M119.211,423.713V70.025h80.514v353.753L119.211,423.713z" fill="currentColor"/>
                    </g>
                </svg>       
                <span class="mx-4 font-medium text-gray-300">Sair do Sistema</span>
            <% end %>

        </nav>

        <% if usuario_signed_in? %>
            <div class="pt-4 pb-2 px-6">

                <div class="flex items-center">
                    <div class="shrink-0">
                        <% if current_usuario.imagem.attached? %>
                            <%= image_tag(current_usuario.imagem, class: 'rounded-full w-10') %>
                        <% end %>                        
                        </div>
                        <div class="grow ml-3">
                        <p class="text-sm font-semibold text-gray-300"><%= link_to current_usuario.nome, edit_usuario_path %></p>
                        </div>
                </div>
                
            </div>
        <% end %>
    </div>
</div>